<template>
  <div class="Catalog">
      <h1>สีนค้าแนะนำ</h1>
      <v-container>
          <v-layout row wrap>
              <v-flex xs12 sm4 md2 v-for="catalog in catalogs" :key="catalog.title">
                  <v-card flat class="text-xs-center ma-1">
                      <v-responsive>
                          <img :src="catalog.pic" height="200px">
                      </v-responsive>
                  <v-card-title class="subheading">{{catalog.title}}</v-card-title>
                  <v-card-text class="red--text">{{catalog.price}} Bath
                      <v-spacer></v-spacer>
                  <v-icon align-center justify-end class="primary--text">mdi-heart</v-icon>
                  <span class="subheading mr-2">256</span>
                 </v-card-text>
                  <v-card-actions>
                      <v-btn color="primary">
                          <v-icon left>mdi-message</v-icon>
                          Detail
                          </v-btn>
                     <v-btn color="success">
                          <v-icon left>mdi-account-multiple-outline</v-icon>
                          tem
                          </v-btn>
                  </v-card-actions>
                  </v-card>
              </v-flex>
          </v-layout>
      </v-container>
  </div>
</template>

<script>
export default {
    data(){
        return{
            catalogs:[
                {title:"vue",pic:"https://fz.lnwfile.com/0aagod.jpg",price:"5000"},
                {title:"node",pic:"https://gc.lnwfile.com/yucalj.jpg",price:"2000"},
                {title:"mongo",pic:"https://gc.lnwfile.com/jqvts5.jpg",price:"3218"},
                {title:"sql",pic:"https://gc.lnwfile.com/6sypx0.jpg",price:"1500"},
                {title:"vue",pic:"https://fz.lnwfile.com/0aagod.jpg",price:"5000"},
                {title:"node",pic:"https://gc.lnwfile.com/yucalj.jpg",price:"2000"},
                {title:"mongo",pic:"https://gc.lnwfile.com/jqvts5.jpg",price:"3218"},
                {title:"mongo",pic:"https://gc.lnwfile.com/jqvts5.jpg",price:"3218"},
                {title:"sql",pic:"https://gc.lnwfile.com/6sypx0.jpg",price:"1500"},
                {title:"c#",pic:"https://gc.lnwfile.com/bl09qm.jpg",price:"2500"}
            ]
        }
    }
}
</script>

<style>

</style>