<template>
  <div class="home">
    <Slide/>
    <Catalog/>
  </div>
</template>

<script>
// @ is an alias to /src

import Slide from '@/components/Slide.vue'
import Catalog from '@/views/Catalog.vue'


export default {
  name: 'Home',
  components: {
    Slide,Catalog,
  }
}
</script>
