<template>
  <v-dialog
      v-model="dialog1"
      persistent
      width="500px"
    >
    <v-btn color="orange darken-4" slot="activator" @click="dialog1 = !dialog1">
        <v-icon>mdi-login</v-icon>Login
      </v-btn>
      <v-card>
        <v-card-title class="amber accent-3">
          สะหมักเข้าใช้
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col cols="12">
              <v-text-field
                prepend-icon="mdi-mail"
                placeholder="Email"
                solo
              ></v-text-field>
            </v-col>
        
            <v-col cols="12">
              <v-text-field
                prepend-icon="mdi-lock"
                placeholder="Password"
                solo
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required, rules.min]"
                :type="show ? 'text' : 'password'"
                name="input-10-2"
            
                hint="At least 8 characters"
            
                class="input-group--focused"
                @click:append="show = !show"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-btn
            text
            color="primary"
          >More</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @click="dialog1 = false"
          >Cancel</v-btn>
          <v-btn
            text
            @click="dialog1 = false"
          >Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
export default {
data:() =>({
    dialog1:false,
    show: false,
        
        password: 'Password',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => ('The email and password you entered don\'t match'),
        },
})
}
</script>

