<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12" xs="12" sm="12" md="8" lg="8">
          <h2>Microsoft “การทำงานในยุคดิจิทัล”</h2>
          <v-container>
            <v-col cols="12" xs="12" sm="12" md="8" lg="8">
              <v-form>
                <v-select label="Title(*)" outlined dense :items="items" v-model="form.title"></v-select>
                <v-text-field label="Name(*)" outlined dense v-model="form.name"></v-text-field>
                <v-text-field label="Surname(*)" outlined dense v-model="form.surname"></v-text-field>
                <v-select label="Type of Business(*)" outlined dense :items="items1" v-model="form.type_of_business"></v-select>
                <v-text-field label="Company name(*)" outlined dense v-model="form.company"></v-text-field>
                <v-text-field label="Province(*)" outlined dense v-model="form.province"></v-text-field>
                <v-text-field label="Position(*)" outlined dense v-model="form.position"></v-text-field>
                <v-text-field label="Mobile Tel.(*)" outlined dense v-model="form.mobile"></v-text-field>
                <v-text-field label="E-mail(*)" outlined dense v-model="form.email"></v-text-field>
                <v-btn block class="primary" @click="createRegiter">Submit</v-btn>
              </v-form>
            </v-col>
          </v-container>
        </v-col>
        <v-col xs="12" sm="12" md="4" lg="4" v-for="(item, index) in items2" :key="index">
          <v-container>
            <img
              width="100%"
              src="http://www.vstecs.co.th/th/images/Knowledge_Center/seminars/MS_Cloud_WayPattaya.png"
              alt
            />
            <h3>Seminar Detail</h3>
             <div class="ma-3">
            <span>{{ item.title }}</span>
            </div>
            <span>
              Date : 20 March 2020
              Time : 09.00 - 16.00
              Venue : Way Hotel Pattaya
              Herr Conference Room
            </span>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { CREATE_REGITER } from "../graphql/regiter";
import { EVENTS } from '../graphql/event'
@Component({
  name: "EventModal"
})
export default class EventModal extends Vue {
  @Prop() "button": string;
  @Prop() "item": any;

  @Watch("dialog")
  itemChange() {
    if (this.item) {
      this.form = this.item;
    }
  }

  // date: any = new Date().toISOString().substr(0, 10)

  modal: any = false;
  menu2: any = false;
  dialog: boolean = false;
  isEdit: boolean = false;
  data() {
    return {
      items: ["Mr", "Mrs", "Miss"],
      items1: [
        "Accounting/legal",
        "Advertising/Marketing/Public Relations",
        "Automotive/Motorcycle/Bicycle",
        "Computers/Software",
        "Construction",
        "Consultant",
        "Education/Students",
        "Energy/Mining",
        "Finance/Insurance",
        "Government/Mititary/Public Service",
        "Healthcare/Medical/Drugs/pharmaceuticals",
        "Hotel/Restaurants/Resort",
        "Import & Export Companies",
        "Logistics/Transportation",
        "Major Morketers/Advertisers",
        "Media/Entertainment",
        "Printing/Publishing/Stationery/Office Supplies",
        "Real Estate/Property Development",
        "Resellers of IT Products",
        "Retail/Consumer Goods",
        "Services Companies",
        "SME",
        "Telecommunixations/Networking",
        "Tourism/Ticket"
      ]
    };
  }
  form: any = {
    title: "",
    name: "",
    surname: "",
    type_of_business: "",
    company: "",
    province: "",
    position: "",
    mobile: "",
    email: ""
  };

  async createRegiter() {
    try {
      const res = await this.$apollo.mutate({
        mutation: CREATE_REGITER,
        variables: this.form
      });
      const isCreated = res.data.createRegiter;
      if (isCreated === "created") {
        this.dialog = false;
        alert("create success");
        this.form = {};
      }
    } catch (e) {
      alert("error");
      throw new Error(e);
    }
  }
  items2: any = []
  async created() {
     const res = await this.$apollo.query({
       query: EVENTS
     })
     this.items2 = res.data.events
    }
}
</script>

<style lang="scss" scoped>
</style>