<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12" xs="12" sm="6" md="4" lg="3" v-for="(item, index) in items" :key="index">
          <v-card
            class="mx-auto"
            max-width="344"
            outlined
            :to="{ name: 'event', params: { id: 'kao' } }"
          >
            <v-img
              src="http://www.vstecs.co.th/th/images/Knowledge_Center/seminars/MS_Cloud_Way_Pattaya.png"
            ></v-img>
            <div class="ma-3">
            <span>{{ item.title }}</span>
            </div>
            <div class="ma-3">
              <span>{{ item.date }}</span>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { EVENTS } from '../graphql/event'
@Component
export default class Home extends Vue {
  items: any = []

  async created() {
     const res = await this.$apollo.query({
       query: EVENTS
     })
     this.items = res.data.events
    }
}
</script>

<style lang="scss" scoped>
</style>
