<template>
  <div>
    <v-container>
   <div style="display: flex; justify-content: flex-end">
    <event-modal :button="`Create event`" />
   </div>
      <v-row>
        <v-col cols="12" xs="12" sm="6" md="4" lg="3" v-for="(item, index) in items" :key="index">
          <v-card
            class="mx-auto"
            max-width="344"
            outlined
          >
            <v-img
             :to="{ name: 'event', params: { id: 'kao' } }"
              src="http://www.vstecs.co.th/th/images/Knowledge_Center/seminars/MS_Cloud_Way_Pattaya.png"
            ></v-img>
          <span>{{ item.title }}</span>

            <div style="display: flex; justify-content: flex-end; padding: 1rem;">
                <event-modal :button="`Edit event`" :item="item" />
                <v-btn class="error ml-2">Delete</v-btn>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import  eventModal from '@/components/modal/event-modal.vue'
import { EVENTS } from '../../graphql/event'
@Component({
    name: 'adminEvent',
    components: {
        eventModal
    }
})
export default class Home extends Vue {
  items: any = []

    async created() {
     const res = await this.$apollo.query({
       query: EVENTS
     })
     this.items = res.data.events
    }
  
}
</script>

<style lang="scss" scoped>
</style>
