<template>
    <div>
    <v-dialog
      v-model="dialog"
      width="800"
    >
      <template v-slot:activator="{ on }">
        <v-btn
          class="primary"
          dark
          v-on="on"
        >
          {{ button }}
        </v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          {{ button }}
        </v-card-title>

        <v-card-text>
      
          <div class="ma-4 mt-12">
               <v-form>

            <v-file-input label="File input" outlined dense></v-file-input>
            <v-text-field
            label="title"
            outlined
            dense
            clearable
            v-model="form.title"
          ></v-text-field>

   <v-menu
        v-model="menu2"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="form.date"
            label="Picker without buttons"
            prepend-icon="mdi-calendar"
            readonly
            outlined
            dense
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="form.date" @input="menu2 = false"></v-date-picker>
      </v-menu>

          <v-textarea
          outlined
          name="input-7-4"
          label="description"
          v-model="form.description"
         
        ></v-textarea>

           </v-form>
          </div>

        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
           v-if="button === 'Edit event'"
            color="primary"
            text
            @click="updateEvent"
          >
            Update

          </v-btn>
            <v-btn
            v-else
            color="primary"
            text
            @click="createEvent"
          >
            Save
          </v-btn>
          <v-btn
            
            color="primary"
            text
            @click="deleteEvent"
          >
            delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
  import { CREATE_EVENT } from '../../graphql/event'
  import { UPDATE_EVENT } from '../../graphql/event'
  import { DELETE_EVENT } from '../../graphql/event'

  @Component({
      name: 'eventModal'
  })
  export default class EventModal extends Vue {
     @Prop() 'button': string
     @Prop() 'item': any

      @Watch('dialog')
        itemChange() {
          if(this.item) {
            this.form = this.item
          }
      }

      date: any = new Date().toISOString().substr(0, 10)

      modal: any = false
      menu2: any = false
      dialog: boolean = false
      isEdit: boolean = false
      
      form: any = {
        title: '',
        date: new Date().toISOString().substr(0, 10),
        description: '',
        image: ''
      }

      async createEvent() {
          try{
            const res = await this.$apollo.mutate({
              mutation: CREATE_EVENT,
              variables: this.form
            })
           const isCreated = res.data.createEvent
           if(isCreated === 'created') {
             this.dialog = false
             alert('create success')
             this.form = {}
           }
          } catch (e){
            alert('error')
            throw new Error(e)
          }
      }


    async updateEvent() {
        try{
          const res = await this.$apollo.mutate({
            mutation: UPDATE_EVENT,
            variables: this.form
          })
          const isEdit = res.data.updateEvent
          if(isEdit === 'updated') {
            this.dialog = false
            alert('update success')
            this.form = {}
          }
        } catch (e){
          alert('error')
          throw new Error(e)
        }
      }

    async deleteEvent() {
        try{
          const res = await this.$apollo.mutate({
            mutation: DELETE_EVENT,
            variables: this.form
          })
          if('deleted'){
            this.dialog = false
            alert('delete success')
            this.form = {}
          }
       } catch (e){
          alert('error')
          throw new Error(e)
        }
      }
  }
</script>

<style lang="scss" scoped>

</style>