<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
    >
      <v-list dense>
        <v-flex class="ma-1"><Login/></v-flex>
        <template v-for="item in items">
          <v-row
            v-if="item.heading"
            :key="item.heading"
            align="center"
          >
            <v-col cols="4">
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-col>
          </v-row>
          <v-list-group
            v-else-if="item.children"
            :key="item.text"
            v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item
              v-for="(child, i) in item.children"
              :key="i"
              link
            >
              <v-list-item-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item
            v-else
            :key="item.text"
            link
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="amber accent-3"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title
        style="width: 250px"
        class="ml-0 pl-4"
      >
        <span class="hidden-sm-and-down">Tou khong khoi</span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Search"
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-spacer></v-spacer>
      <div class="text-center">
      <v-btn  icon >
        <v-icon>mdi-cart-outline</v-icon>
      </v-btn>
      <v-btn href="http://www.google.com" class="ma-1" color="orange darken-4" >
        <v-icon>mdi-account-plus-outline</v-icon>สะหมักสามาชิกใหม่
      </v-btn>
      <v-btn class="ma-1" color="orange darken-4" @click="dialog1 = !dialog1">
        <v-icon>mdi-login</v-icon>Login
      </v-btn>
      
      <v-btn
        icon
        large
      >
        <v-avatar
          size="32px"
          item
        >
          <v-img
            src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
            alt="Vuetify"
          ></v-img></v-avatar>
      </v-btn>
      </div>
    </v-app-bar>
    
    <v-btn
      bottom
      color="pink"
      dark
      fab
      fixed
      right
      @click="dialog = !dialog"
    >
     
      <v-text>เปีดร้าน</v-text>
    </v-btn>
   
    <v-dialog
      v-model="dialog"
      width="800px"
    >
      <v-card>
        <v-card-title class="amber accent-3">
          ต้องการเปิดร้าน
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col
              class="align-center justify-space-between"
              cols="12"
            >
              <v-row
                align="center"
                class="mr-0"
              >
                <v-avatar
                  size="40px"
                  class="mx-3"
                >
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    alt=""
                  >
                </v-avatar>
                <v-text-field
                  placeholder="ชื่อ และ นามสกุน"
                ></v-text-field>
              </v-row>
            </v-col>
            <v-col cols="6">
              <v-text-field
                prepend-icon="mdi-account-card-details-outline"
                placeholder="ชื่อร้าน"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                placeholder="ปะเพดร้าน"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                prepend-icon="mdi-mail"
                placeholder="Email"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                type="tel"
                prepend-icon="mdi-phone"
                placeholder="(000) 000 - 0000"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                prepend-icon="mdi-text"
                placeholder="ที่ตั้งร้าน"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-btn
            text
            color="primary"
          >More</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @click="dialog = false"
          >Cancel</v-btn>
          <v-btn
            text
            @click="dialog = false"
          >Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>



    <v-dialog
      v-model="dialog1"
      width="500px"
    >
      <v-card>
        <v-card-title class="amber accent-3">
          สะหมักเข้าใช้
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col cols="12">
              <v-text-field
                prepend-icon="mdi-mail"
                placeholder="Email"
                solo
              ></v-text-field>
            </v-col>
        
            <v-col cols="12">
              <v-text-field
                prepend-icon="mdi-lock"
                placeholder="Password"
                solo
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required, rules.min]"
                :type="show ? 'text' : 'password'"
                name="input-10-2"
            
                hint="At least 8 characters"
            
                class="input-group--focused"
                @click:append="show = !show"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-btn
            text
            color="primary"
          >More</v-btn>
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @click="dialog1 = false"
          >Cancel</v-btn>
          <v-btn
            text
            @click="dialog1 = false"
          >Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-content>
      <router-view/>
      <Footer/>
    </v-content>
  </v-app>
</template>

<script>
import Footer from '@/components/Footer.vue'
import Login from '@/views/Login.vue'
  export default {
     name: 'App',
     components: {
    Footer,Login,
  },

  data1: () => ({
    //
  }),

    props: {
      source: String,
    },
    data: () => ({
      dialog: false,
      dialog1:false,
      drawer: null,
      show: false,
        
        password: 'Password',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => ('The email and password you entered don\'t match'),
        },
      items: [
        { icon: 'mdi-contacts', text: 'Contacts' },
        { icon: 'mdi-history', text: 'Frequently contacted' },
        { icon: 'mdi-content-copy', text: 'Duplicates' },
        {
          icon: 'mdi-chevron-up',
          'icon-alt': 'mdi-chevron-down',
          text: 'หาสีนค้าตามโชน',
          model: false,
          children: [
            { icon: 'mdi-chevron-up', 'icon-alt': 'mdi-chevron-down', text: 'พากเหนือ', model:false, 
            children: [
              { icon: 'mdi-plus', text: 'เชียงใหม่'},
              { icon: 'mdi-plus', text: 'เชียงราย'},
            ], },
            { icon: 'mdi-chevron-up', 'icon-alt': 'mdi-chevron-down', text: 'พากกาง',  model:false, 
            children: [
              { icon: 'mdi-plus', text: 'กรุงเทบ'},
              { icon: 'mdi-plus', text: 'ปางกะปิ'},
            ], },
            { icon: 'mdi-chevron-up', 'icon-alt': 'mdi-chevron-down',  text: 'พากใต้', model:false, 
            children: [
              { icon: 'mdi-plus', text: 'สุลาด'},
              { icon: 'mdi-plus', text: 'พะงัน'},
            ],  },
          ],
        },
        {
          icon: 'mdi-chevron-up',
          'icon-alt': 'mdi-chevron-down',
          text: 'ปะเพดสีนค้า',
          model: false,
          children: [
            { text: 'เสื้อยืด' },
            { text: 'กางเกง' },
            { text: 'ลองท้าว' },
            { text: 'กะเป๋า' },
            { text: 'ทั่วไป' },
          ],
        },
        { icon: 'mdi-cog-outline', text: 'Settings' },
        { icon: 'mdi-help-circle', text: 'Help' },
        { icon: 'mdi-book', text: 'About' },
        { icon: 'mdi-logout', text: 'Log out' },
      ],
    }),
  }
</script>
 
