<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title></title>

</head>

<body>
  <%- include layout %>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">
        <% posts.forEach(function(post){ %>
        <!-- Title -->
        <h1 class="mt-4"><%= post.title %></h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="/posts/show/?author=<%=post.author %>"><%= post.author %></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on <%= moment(post.date).format("DD-MM-YYYY") %></p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="<%= post.img %>" alt="" width="900px" height="300px">

        <hr>

        <!-- Post Content -->

          <%- post.content %>

          <%})%>
        <hr>
      </div>
        <%- include sidebar %>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; vannasith phetpaseuth</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
